node-red/flow.json
[
    {
        "id": "32fbf2aa.05553e",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "518fe81b.125ff8",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2dff9189.36d03e",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f116d77.4ea7e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "89ac75c7.63ca98",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f509fde1.9911e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6e3acf87.e92e8",
        "type": "ui_group",
        "z": "",
        "name": "TGV STOCK prices",
        "tab": "272d6b04.525bd4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bc519f5c.87379",
        "type": "ui_group",
        "z": "",
        "name": "Last winning answer",
        "tab": "e0decf5d.81374",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b62379e5.3be478",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "e0decf5d.81374",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cc46d1ea.7d67c",
        "type": "tmi-config",
        "z": "",
        "name": "hugo channel",
        "username": "hugo",
        "channels": "#hugo",
        "reconnect": true,
        "secure": true,
        "log_error": true
    },
    {
        "id": "c1dd1173.a1331",
        "type": "ui_group",
        "z": "",
        "name": "Direct Feedback",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b326e02.4b76c",
        "type": "ui_group",
        "z": "",
        "name": "Open Question",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "548db52e.7bb39c",
        "type": "ui_group",
        "z": "",
        "name": "Emoji",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6decdbf.7b9e",
        "type": "ui_group",
        "z": "",
        "name": "Photo Sharing",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43d9582f.d9e828",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": ""
    },
    {
        "id": "272d6b04.525bd4",
        "type": "ui_tab",
        "z": "",
        "name": "Stock",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9fdbff0.4db68",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "node-red",
        "name": ""
    },
    {
        "id": "c6900da8.d60df",
        "type": "ui_tab",
        "z": "",
        "name": "Inputs",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2dafcffa.3586c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c6900da8.d60df",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6075ce5b.5cd02",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "272d6b04.525bd4",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "37f0ad99.7be282",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/example",
        "wholemsg": "false"
    },
    {
        "id": "68d8f02c.2efdb",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/example",
        "wholemsg": "false"
    },
    {
        "id": "5108af6f.6bcf",
        "type": "http in",
        "z": "32fbf2aa.05553e",
        "name": "",
        "url": "/stocks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "1651b943.a7e1c7"
            ]
        ]
    },
    {
        "id": "b8d5d186.5fb74",
        "type": "http response",
        "z": "32fbf2aa.05553e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "1651b943.a7e1c7",
        "type": "function",
        "z": "32fbf2aa.05553e",
        "name": "Get Stocks",
        "func": "msg.payload = {\n    \"stocks\": [\n        \"TGV\",\n        \"PLUG\",\n        \"RECAF\"\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "b8d5d186.5fb74"
            ]
        ]
    },
    {
        "id": "6e38029e.1b9d2c",
        "type": "catch",
        "z": "32fbf2aa.05553e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "38d23b43.cd2624"
            ]
        ]
    },
    {
        "id": "38d23b43.cd2624",
        "type": "debug",
        "z": "32fbf2aa.05553e",
        "name": "log error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "37215e5c.bf0202",
        "type": "inject",
        "z": "32fbf2aa.05553e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "182b4520.61db2b"
            ]
        ]
    },
    {
        "id": "5c506731.e183b8",
        "type": "mqtt in",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "/stock/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "89ac75c7.63ca98",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "3b7ea697.e60c3a",
                "7ad8fd1.f5fe904"
            ]
        ]
    },
    {
        "id": "792d3155.d2008",
        "type": "mqtt out",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "/stock/TGV",
        "qos": "",
        "retain": "true",
        "broker": "89ac75c7.63ca98",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "a590ef02.35c69",
        "type": "inject",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "",
        "payload": "32",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "792d3155.d2008"
            ]
        ]
    },
    {
        "id": "d53e9813.3111c8",
        "type": "inject",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "792d3155.d2008"
            ]
        ]
    },
    {
        "id": "a5d0c3ab.5748f",
        "type": "inject",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "792d3155.d2008"
            ]
        ]
    },
    {
        "id": "3b7ea697.e60c3a",
        "type": "debug",
        "z": "2dff9189.36d03e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "7ad8fd1.f5fe904",
        "type": "function",
        "z": "2dff9189.36d03e",
        "name": "",
        "func": "let lastTGVprices = global.get(\"stock-TGV\")\nlet number = Number(msg.payload)\nif (!lastTGVprices) {\n    lastTGVprices = [number]\n} else {\n    lastTGVprices.push(number)\n}\nglobal.set(\"stock-TGV\", lastTGVprices);\nmsg.payload = lastTGVprices\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "3a076490.3f16bc",
                "6ffe7070.7e5cd"
            ]
        ]
    },
    {
        "id": "3a076490.3f16bc",
        "type": "ui_template",
        "z": "2dff9189.36d03e",
        "group": "6075ce5b.5cd02",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1020,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6ffe7070.7e5cd",
        "type": "debug",
        "z": "2dff9189.36d03e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1009,
        "y": 135,
        "wires": []
    },
    {
        "id": "dce17fe5.63411",
        "type": "ui_button",
        "z": "2dff9189.36d03e",
        "name": "",
        "group": "6e3acf87.e92e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "54",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "54",
        "payloadType": "num",
        "topic": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "792d3155.d2008"
            ]
        ]
    },
    {
        "id": "988e3252.06645",
        "type": "mongodb in",
        "z": "518fe81b.125ff8",
        "mongodb": "d9fdbff0.4db68",
        "name": "",
        "collection": "stocks",
        "operation": "find",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "fb21ac55.ceea9"
            ]
        ]
    },
    {
        "id": "f3799aad.eedd68",
        "type": "mongodb out",
        "z": "518fe81b.125ff8",
        "mongodb": "d9fdbff0.4db68",
        "name": "",
        "collection": "stocks",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "a81e10b.0ff0ff",
        "type": "inject",
        "z": "518fe81b.125ff8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "efd8f017.ed44"
            ]
        ]
    },
    {
        "id": "efd8f017.ed44",
        "type": "function",
        "z": "518fe81b.125ff8",
        "name": "",
        "func": "let newStockPrice = {\n    name: \"APPLE\",\n    price: Math.random()*50\n}\n\nmsg.payload= newStockPrice;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "f3799aad.eedd68"
            ]
        ]
    },
    {
        "id": "ac31ec01.8e61c",
        "type": "inject",
        "z": "518fe81b.125ff8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "988e3252.06645"
            ]
        ]
    },
    {
        "id": "fb21ac55.ceea9",
        "type": "debug",
        "z": "518fe81b.125ff8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "c35457c9.be3068",
        "type": "http in",
        "z": "518fe81b.125ff8",
        "name": "",
        "url": "/stocks-db",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "db5c8ea5.f3dc2"
            ]
        ]
    },
    {
        "id": "4bbb7282.a67abc",
        "type": "http response",
        "z": "518fe81b.125ff8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "db5c8ea5.f3dc2",
        "type": "mongodb in",
        "z": "518fe81b.125ff8",
        "mongodb": "d9fdbff0.4db68",
        "name": "",
        "collection": "stocks",
        "operation": "find",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "4bbb7282.a67abc"
            ]
        ]
    },
    {
        "id": "d9e23cb2.66b59",
        "type": "http in",
        "z": "32fbf2aa.05553e",
        "name": "",
        "url": "/presentation",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "d5a91531.18bce8"
            ]
        ]
    },
    {
        "id": "d5a91531.18bce8",
        "type": "function",
        "z": "32fbf2aa.05553e",
        "name": "",
        "func": "msg.payload = \"Hello all of you !\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "f552d782.9a0398"
            ]
        ]
    },
    {
        "id": "f552d782.9a0398",
        "type": "http response",
        "z": "32fbf2aa.05553e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "de4dff3a.d8dea",
        "type": "ui_text_input",
        "z": "2dff9189.36d03e",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "6e3acf87.e92e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8652a9e7.9c9d88",
        "type": "websocket in",
        "z": "2dff9189.36d03e",
        "name": "",
        "server": "68d8f02c.2efdb",
        "client": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "843765a0.ac0748"
            ]
        ]
    },
    {
        "id": "8af64853.82ada8",
        "type": "websocket out",
        "z": "2dff9189.36d03e",
        "name": "",
        "server": "37f0ad99.7be282",
        "client": "",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "8c7741e3.ab5bc",
        "type": "inject",
        "z": "2dff9189.36d03e",
        "name": "",
        "topic": "",
        "payload": "32",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "8af64853.82ada8"
            ]
        ]
    },
    {
        "id": "843765a0.ac0748",
        "type": "debug",
        "z": "2dff9189.36d03e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "182b4520.61db2b",
        "type": "debug",
        "z": "32fbf2aa.05553e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 80,
        "wires": []
    }
]